*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/caches
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetDropDown.xml
/.idea/gradle.xml
/.idea/shelf/
/.idea/indexLayout.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.jks
*.keystore
*.apk
*.ap_
bin/
gen/
out/

# Sensitive Firebase/API Files
google-services.json
secrets.properties
secrets.xml

# Local Gradle Config
gradle-local.properties
.gradle/
build/
